DB_HOST=mysql
DB_PORT=3306
DB_USER=bodymetrics
DB_PASSWORD=bodymetrics_pass
DB_NAME=bodymetrics
MYSQL_ROOT_PASSWORD=root_pass
MYSQL_PORT=3306
PHPMYADMIN_PORT=8081
JWT_SECRET=change-this-secret
PORT=8080
